<div class="content">
    <h2>Seus projetos</h2>

    <div class="project">
        <div class="letter">
            <h1>T</h1>
        </div>
        <div class="informs">
            <h1>Teste</h1>
            <button> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups"></mat-icon> Membros</button>
            <button> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete_outlined"></mat-icon> Apagar projeto</button>
            <button> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info_outlined"></mat-icon> Informações</button>
        </div>
        <div class="cards">
            <h3>Teste</h3>
        </div>
    </div>
    
</div>